<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title" style="text-align: center">Agregar Orden de Compra</h4>


                    </div>

                    <div class="card-body">
                        <form>




                            <div class="row">

                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <h4>RUC</h4>
                                        <input disabled matInput
                                               type="email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <h4>Nombre</h4>
                                        <input disabled matInput
                                               type="email">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <h4>Direccion</h4>
                                        <input disabled matInput
                                               type="email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <h4>Correo</h4>
                                        <input disabled matInput
                                               type="email">
                                    </mat-form-field>
                                </div>
                            </div>


                            <div class="row">

                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <h4>Telefono</h4>
                                        <input disabled matInput
                                               type="email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <h4>Fecha Entrega</h4>
                                        <input disabled matInput
                                               type="email">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <h4>Direccion Empresa</h4>
                                        <input disabled matInput
                                               type="email">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="fill">
                            <mat-label>Moneda</mat-label>
                            <mat-select [(ngModel)]="selectedValue" name="moneda">
                                <mat-option *ngFor="let moneda of monedas" [value]="moneda">
                                    {{moneda}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>



                            </div>




                        </form>


                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>


                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Codigo Producto </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>


                    <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef> Nombre producto </th>
                        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                    </ng-container>


                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef> Cantidad Producto </th>
                        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <div><br></div>
        </div>
    </div>
</div>

