
<div class="main-content">
    <div class="container-fluid">
        <app-sticky [nameComponent]="'orden'"  ></app-sticky>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Productos</h4>
                        <p class="card-category"> Lista de productos</p>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Codigo
                                </th>
                                <th>
                                    Nombre
                                </th>

                                <th>
                                    Cantidad
                                </th>
                                <th>
                                    Tipo de producto
                                </th>
                                <th>
                                    Precio unitario
                                </th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        EPP-011

                                    </td>
                                    <td>
                                        ARCHIVADOR

                                    </td>

                                    <td>
                                     12

                                    </td>
                                    <td >
                                        INSUMOS MAN
                                    </td>
                                    <td class="text-primary">
                                        S/3.56
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        EPP-011

                                    </td>
                                    <td>
                                        ARCHIVADOR

                                    </td>

                                    <td>
                                        12

                                    </td>
                                    <td >
                                        INSUMOS MAN
                                    </td>
                                    <td class="text-primary">
                                        S/3.56
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        EPP-011

                                    </td>
                                    <td>
                                        ARCHIVADOR

                                    </td>

                                    <td>
                                        12

                                    </td>
                                    <td >
                                        INSUMOS MAN
                                    </td>
                                    <td class="text-primary">
                                        S/3.56
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        EPP-011

                                    </td>
                                    <td>
                                        ARCHIVADOR

                                    </td>

                                    <td>
                                        12

                                    </td>
                                    <td >
                                        INSUMOS MAN
                                    </td>
                                    <td class="text-primary">
                                        S/3.56
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        EPP-011

                                    </td>
                                    <td>
                                        ARCHIVADOR

                                    </td>

                                    <td>
                                        12

                                    </td>
                                    <td >
                                        INSUMOS MAN
                                    </td>
                                    <td class="text-primary">
                                        S/3.56
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        EPP-011

                                    </td>
                                    <td>
                                        ARCHIVADOR

                                    </td>

                                    <td>
                                        12

                                    </td>
                                    <td >
                                        INSUMOS MAN
                                    </td>
                                    <td class="text-primary">
                                        S/3.56
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        EPP-011

                                    </td>
                                    <td>
                                        ARCHIVADOR

                                    </td>

                                    <td>
                                        12

                                    </td>
                                    <td >
                                        INSUMOS MAN
                                    </td>
                                    <td class="text-primary">
                                        S/3.56
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        EPP-011

                                    </td>
                                    <td>
                                        ARCHIVADOR

                                    </td>

                                    <td>
                                        12

                                    </td>
                                    <td >
                                        INSUMOS MAN
                                    </td>
                                    <td class="text-primary">
                                        S/3.56
                                    </td>
                                </tr><tr>
                                    <td>
                                        EPP-011

                                    </td>
                                    <td>
                                        ARCHIVADOR

                                    </td>

                                    <td>
                                        12

                                    </td>
                                    <td >
                                        INSUMOS MAN
                                    </td>
                                    <td class="text-primary">
                                        S/3.56
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        EPP-011

                                    </td>
                                    <td>
                                        ARCHIVADOR

                                    </td>

                                    <td>
                                        12

                                    </td>
                                    <td >
                                        INSUMOS MAN
                                    </td>
                                    <td class="text-primary">
                                        S/3.56
                                    </td>
                                </tr>



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
