<p>
    <mat-form-field>
        <mat-select [formControl]="bankServerSideCtrl" placeholder="Productos">

            <mat-option>
                <ngx-mat-select-search [formControl]="bankServerSideFilteringCtrl" [noEntriesFoundLabel]="'no encontrado'+this.idAlmacen"  [placeholderLabel]="'...'"

                                       [searching]="searching"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let bank of filteredServerSideBanks | async" (click)="seleccionarProducto(bank)">
                {{bank.descripcion}}{{this.idAlmacen}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</p>
