<div class="main-content" style="width: 100%">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div *ngIf="this.data.data.estadoOrden=='ESPERA'" (click)="confirmarOrden()"
                         class="card-header card-header-danger"
                         style="cursor: pointer">
                        <h4 class="card-title" style="text-align: center">Confirmar salida de productos</h4>

                    </div>


                    <div class="card-body">
                        <form  >
                             <div *ngFor="let titulo of titulos;  let i =index" >


                                <div class="row">
                                    <div class="col-md-12">

                                        <mat-form-field class="example-full-width">
                                            <h4>{{titulo}}</h4>
                                            <input disabled matInput type="text"
                                                   value="{{this.datos[i]}}">
                                        </mat-form-field>
                                    </div>

                                </div>

                            </div>







                        </form>


                    </div>
                </div>

            </div>

            <div class="col-md-12">
                <table [dataSource]="this.data.detalles" class="mat-elevation-z8" mat-table style="width: 100%">


                    <ng-container matColumnDef="codigo">
                        <th *matHeaderCellDef mat-header-cell> Codigo Producto</th>
                        <td *matCellDef="let element" mat-cell> {{element.codigoProducto}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nombre">
                        <th *matHeaderCellDef mat-header-cell> Nombre </th>
                        <td *matCellDef="let element" mat-cell> {{element.nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="talla">
                        <th *matHeaderCellDef mat-header-cell> Talla </th>
                        <td *matCellDef="let element" mat-cell> {{element.tala}} </td>
                    </ng-container>
                    <ng-container matColumnDef="color">
                        <th *matHeaderCellDef mat-header-cell> Color</th>
                        <td *matCellDef="let element" mat-cell> {{element.color}} </td>
                    </ng-container>
                    <ng-container matColumnDef="modelo">
                        <th *matHeaderCellDef mat-header-cell> Modelo</th>
                        <td *matCellDef="let element" mat-cell> {{element.modelo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="marca">
                        <th *matHeaderCellDef mat-header-cell> Marca</th>
                        <td *matCellDef="let element" mat-cell> {{element.marca}} </td>
                    </ng-container>
                    <ng-container matColumnDef="tipo">
                        <th *matHeaderCellDef mat-header-cell> Tipo de producto</th>
                        <td *matCellDef="let element" mat-cell> {{element.tipo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cantidad">
                        <th *matHeaderCellDef mat-header-cell> Cantidad</th>
                        <td *matCellDef="let element" mat-cell> {{element.cantidad}} </td>
                    </ng-container>
                    <ng-container matColumnDef="unidadMedida">
                        <th *matHeaderCellDef mat-header-cell> Unidad Medida</th>
                        <td *matCellDef="let element" mat-cell> {{element.unidadMedida}} </td>
                    </ng-container>
                    <ng-container matColumnDef="precioUnitario">
                        <th *matHeaderCellDef mat-header-cell> Precio Unitario</th>
                        <td *matCellDef="let element" mat-cell> {{element.precioUnitario}} </td>
                    </ng-container>
                    <ng-container matColumnDef="descuento">
                        <th *matHeaderCellDef mat-header-cell> Descuento</th>
                        <td *matCellDef="let element" mat-cell> {{element.descuento}} </td>
                    </ng-container>
                    <ng-container matColumnDef="total">
                        <th *matHeaderCellDef mat-header-cell> Total</th>
                        <td *matCellDef="let element" mat-cell> {{element.subTotal}} </td>
                    </ng-container>







                    <tr *matHeaderRowDef="columnas" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: columnas;" mat-row></tr>
                </table>
            </div>



            <div><br></div>
        </div>
        <div>
            <br>
        </div>
    </div>
</div>


